@media only screen and (min-width: 1070px)
	.hidden--sm
		display block
	.hidden--lg
		display none
	.show
		&--lg
			display block
		&--sm
			display none !important
	nav
		display flex
		justify-content flex-end
		margin 1em 2em
		position relative
	.sns
		text-align right
		margin-right 1em
		& i
			margin-right .2em
	.nav
		display flex
		// justify-content flex-end
		// padding 1em
		list-style none
		position relative
		& ul
			list-style none
		& li
			margin 1em 1.5em
			position relative
			&:hover > ul
				display block
		& ul
			display none
			position absolute
			left 0
			z-index 99999
			background white
		& .current-menu-item a
			// this should be replaced to '.current-menu-item a'
			padding-bottom 5px
			border-bottom 3px solid lighter
		&__search
			width auto
			margin 1em 0
			border-bottom 1px light-gray solid
	.logo
		display flex
		align-items baseline
		position absolute
		left 2em
		& > img
			width auto
			margin-right 1em
	.multicol
		-webkit-column-count 3
		-moz-column-count 3
		column-count 3
		
		-webkit-column-gap 2em
		-moz-column-gap 2em
		column-gap 2em
		
		-webkit-column-rule 1px outset #4e4e4e
		-moz-column-rule 1px outset #4e4e4e
		column-rule 1px outset #4e4e4e
	.row
		margin-bottom 5em
		display flex
		justify-content space-between
		&--primary
			background primary
			color white
		&--mdsp
			padding 2em
		&--nobtm
			margin-bottom 0px
		&--sparound
			justify-content space-around
	.panel
		width 33.33%
	.sitemap
		display flex
		justify-content space-around
		
		&__col
			width 33.33%
			padding 0 2em
		&__item
			list-style none
			line-height 2em
			&>a
				display inline
	.photo--circle
		width 23%
	.form
		&__row
			display flex
		&__label
			width 25%
		&__field
			width 75%
			& input
				padding .5em 1em
		&--btn
			text-align right
	.col--50
		width 45%
	.location
		width 50%
		margin-right auto
		margin-left auto
	.map
		& iframe
			height 450px