lg = 24px
md = 20px
sm = 18px

primary = #144D73
lighter = #87CEEB
white = white
gray = #333333
light-gray = #dddddd

body
	color gray
p, ul
	margin 0px
	padding 0px
input
textarea
	border 1px #eee solid
	border-radius 5px 
	padding 3px
	&:focus
		outline none
.hidden--sm
	display none
.show--lg
	display none
.align--left
	float left
	margin-right 2%
	&:after
		content "."
		visibility hidden
		display block
		height 0
		clear both
.wrap--circle
	shape-outside circle()

.nav
	&__search
		border none
		border-radius 0px
		margin 1em auto
		width 100%
		&:focus
			outline none
.font
	&--lg
		font-size lg
		line-height 1.5em
	&--md
		font-size md
		line-height 1.5em
	&--sm
		font-size sm
		line-height 1.5em
footer
	background gray
	color light-gray
	padding 3em
	text-align center
	&>hr
		border 1px #4e4e4e solid
.copyright
	color #4e4e4e
.sitemap
	&__item
		list-style none
		line-height 2em

h1
	color primary
img
	width 100%
	height auto
.label
	text-align center
	padding-bottom .5em
	border-bottom 1px light-gray solid
	width 50%
	margin-left auto
	margin-right auto
	margin-bottom 2em
.row
	margin-bottom 5em
	&--primary
		@extends .row
		background primary
		color white
	&--mdsp
		padding 2em
	&--nobtm
		@extends .row
		margin-bottom 0px
.panel
	padding 2em
	&__title
		font-size lg
		margin-bottom 10px
	&__img
		&--circle
			border-radius 10px
	&__disc
		padding 1rem
	&__btn
		padding 1em
		text-align center
		border 2px lighter solid
		border-radius 5px
		width 40%
		margin-left auto
.mainvisual
	background-image url("/img/mountains.jpg")
	background-position center center
	background-size cover
	width 100%
	height 368px
	position relative
	margin-bottom 5em
	&__disc
		color white
		font-size 20px
		width 75%
		text-align center
		margin-left auto
		margin-right auto
		padding-top 5em
		line-height 2em
		margin-bottom 7em
	&__btn
		border 1px white solid
		border-radius 5px
		width 20%
		padding 1em
		color white
		text-align center
		position absolute
		bottom 50px
		left 50%
		margin-left -11%
.photo--circle
	width 50%
.form
	&__row
		// display flex
		margin-bottom 1em
		& textarea
			display block
			width 100%
	&__btn
		text-align center
		border 1px #ddd solid
		background white
		border-radius 5px
		padding 1em 2em
		// padding .5em
	&__label
		margin-bottom .5em
		width 100%
		// width 25%
	&__field
		width 100%
		// width 75%
		& input
			padding 1em 0
			display block
			width 100%
	&--btn
		// text-align right
		text-align center
.location
	width 90%
	margin-right auto
	margin-left auto
.map
	& iframe
		width 100%
		height 200px
.arrow
	list-style url('../img/li.png')
	padding 2em