@import "/node_modules/normalize.css/normalize.css"
@import "partials/_nav"
a
	color inherit
	text-decoration none
	display block
h1
	color black
.center
	margin 0 auto
	
@import "partials/_mobile"
@import "partials/_tablet"
@import "partials/_desktop"